.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.m-w-20 {
  max-width: 20rem;
}
